[project]
	description = Git Source Code Mirror
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/claudelee
[access "refs/for/refs/*"]
	read = group user/claudelee
	push = group user/claudelee
	label-Code-Review = -2..+2 group user/claudelee
	label-Verified = -1..+1 group user/claudelee
	rebase = group user/claudelee
	removeReviewer = group user/claudelee
	submit = group user/claudelee
[access "refs/heads/*"]
	read = group user/claudelee
	create = group user/claudelee
	push = +force group user/claudelee
	pushMerge = group user/claudelee
[access "refs/tags/*"]
	push = +force group user/claudelee
	pushTag = group user/claudelee
	pushSignedTag = group user/claudelee
